{% extends "tasks/base.html" %}

{% block title %}View Task - Task ID: {{ task.id }}{% endblock %}

{% block content %}
    <h2>Add Task</h2>
    <form action="{% url 'add-task' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.errors }}
                {{ field.label_tag }}: {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Add Task</button>
    </form>

{% endblock %}
